language: ruby
rvm:
- 2.1.4
env:
  global:
    - WIKIPEDIA_URL=https://en.wikipedia.org/wiki/List_of_postcode_areas_in_the_United_Kingdom
    - MONGO_HOST=localhost
    - MONGO_DB=hippodamus_test
before_install:
  - "sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 7F0CEB10"
  - "echo 'deb http://downloads-distro.mongodb.org/repo/ubuntu-upstart dist 10gen' | sudo tee /etc/apt/sources.list.d/mongodb.list"
  - "sudo apt-get update"
  - "sudo apt-get install mongodb-org-server"
before_script:
  - "until nc -z localhost 27017; do echo Waiting for MongoDB; sleep 1; done"
